.user {
    color: var(--clr-mostaza-001);
}

.admin {
    color: var(--clr-mostaza-001);
    font-weight: 300;
}

.upload-icon {
    font-size: 1.438rem;
    color: var(--clr-mostaza-001);
}

.admin-options {
    width: 35vw;
}

.nav-options {
    background: var(--clr-white);
    width: 100vw;
    height: 100vh;
}

.nav-link {
    color: var(--clr-negro-001);
}

.space-line {
    color: var(--clr-negro-001);
    margin-bottom: 0;
    font-weight: 300;
}

.poster_scalë{
    scale: 3.9;
}



.options {
    font-weight: 500;
    color: var(--clr-negro-001);
    cursor: pointer;
}



.hiden-element {
    display: none;
}

.options:hover {
    color: var(--clr-verde-002);
}

.subir-items {
    height: 89vh;
}

.data-form {
    margin-top: -67px;
}

.card {
    width: 97%;
}

.col-user {
    margin: 100px;
}

/* @media (max-width: 1172px) {
    .me-5 {
        margin-right: 0!important;
    }

    .row {
        align-items: center;
    }

    .profile-image {
        width: 250px;
    }

    .info-base {
        zoom: .9;
    }
}

@media (max-width: 858px) {
    .row-mv {
        height: 100vh;
        align-items: center;
    }

    .user {
        font-size: 3rem;
    }   

    .admin-options {
        width: 100vw;
    }

    .options {
        font-size: .65rem;
    }
}

@media (max-width: 767px) {
    .row-mv {
        height: 100vh;
        align-items: center;
    }

    .img-container-mv {
        justify-content: center!important;
        margin: 0!important;
    }

    .img-base {
        margin-top: 80px;
        height: 35vh!important;
    }

    .profile-image {
        width: 250px;
    }

    .profile-info {
        justify-content: center!important;
        margin: 0!important;
    }

    .info-base {
        margin-top: -10.625rem;
        text-align: center;
    }

    .uploads {
        justify-content: center;
        margin: 30px 0 0 0!important;
    }

    .user {
        font-size: 3rem;
    }
    
    .name {
        font-size: .9rem;
        margin-top: -15px;
        line-height: 25px;
    }

    .upload-text {
        font-size: .9rem;
    }

    .upload-icon {
        width: 15px;
    }

    .nav-options {
        height: 400vh;
    }

    .small-nav-options {
        height: 163vh;
    }

    .admin-options {
        width: 100vw;
    }

    .options {
        font-size: .65rem;
    }

    .title-subidos-container {
        justify-content: center!important;
    }

    .title-subidos {
        font-size: 27px;
        margin: 0!important;
        justify-content: center!important;
    }

    .data-form {
        margin-top: 75px;
    }

    .subir-title {
        margin-top: 24px!important;
        margin-bottom: -25px!important;
    }

    .ver-mas {
        display: none;
    }

    .recipe-card {
        scale: 1.2;
        margin-top: 40px;
    }

    .recipe-card:hover {
        scale: 1.21;
    }

    .revision-card {
        zoom: 1.3;
        margin: 70px 0 30px 0;
    }

    

    .ms-4 {
        margin-left: 0!important;
    }

    .mv-col {
        zoom: .7;
        margin-bottom: 15px;
    }

    .e-mt {
        margin-top: -12px!important;
    }

    .input-data-recipe {
        font-size: 14px;
    }

    .input-s {
        width: 123px;
    }
    
    .input-l {
        width: 184px;
    }

    .col-5 {
        max-width: none;
        width: 425px;
    }
} */

@media  (min-width: 300px) and (max-width: 540px) {
    .row-mv {
        height: 100vh;
        align-items: center;
    }

    .img-container-mv {
        justify-content: center!important;
        margin: 0!important;
    }

    .img-base {
        margin-top: 80px;
        height: 35vh!important;
    }

    .profile-image {
        width: 250px;
    }

    .profile-info {
        justify-content: center!important;
        margin: 0!important;
    }

    .info-base {
        margin-top: -10.625rem;
        text-align: center;
    }

    .uploads {
        justify-content: center;
        margin: 30px 0 0 0!important;
    }

    .user {
        font-size: 3rem;
    }
    
    .name {
        font-size: .9rem;
        margin-top: -15px;
        line-height: 25px;
    }

    .upload-text {
        font-size: .9rem;
    }

    .upload-icon {
        width: 15px;
    }

    .nav-options {
        height: fit-content!important;
    }

    .small-nav-options {
        height: 163vh;
    }

    .admin-options {
        width: 100vw;
    }

    .options {
        font-size: .65rem;
    }

    .title-subidos-container {
        justify-content: center!important;
    }

    .title-subidos {
        font-size: 27px;
        margin: 0!important;
        justify-content: center!important;
    }

    .data-form {
        margin-top: 75px;
    }

    .subir-title {
        margin-top: 24px!important;
        margin-bottom: -25px!important;
    }

    .ver-mas {
        display: none;
    }

    .recipe-card {
        scale: 1.2;
        margin-top: 40px;
    }

    .recipe-card:hover {
        scale: 1.21;
    }

    .revision-card {
        zoom: 1.3;
        margin: 70px 0 30px 0;
    }

    

    .ms-4 {
        margin-left: 0!important;
    }

    .mv-col {
        zoom: .7;
        margin-bottom: 15px;
    }

    .e-mt {
        margin-top: -12px!important;
    }

    .input-data-recipe {
        font-size: 14px;
    }

    .input-s {
        width: 123px;
    }
    
    .input-l {
        width: 184px;
    }

    .col-5 {
        max-width: none;
        width: 425px;
    }
    
   
}

@media  (min-width: 541px) and (max-width: 800px) {

    
   
}


@media  (min-width: 820px) and (max-width: 1200px) {

    

   
}
