.prueba {
    background: rebeccapurple;
}


.font-tittle {
    color: var(--clr-mostaza-001);
}

.recipe-upload-card {
    scale: 1.22;
    margin: 70px 0 60px 0;
}

.nav-ten {
    background: var(--clr-white);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.nav-ten2 {
    background: var(--clr-white);
    width: 100vw;
    height: 120vh;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.nav-poster {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-poster2 {

    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-recetario {
    height: 120vh;
}

.poster-image-container {
    width: 100%;
    height: 100%;
    background: black;
    position: relative;
}

.poster-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.poster-info-bg {
    width: 40%;
    height: 100%;
    background: #ffffffb9;
    position: absolute;
}

.recipe-poster-data {
    color: var(--clr-negro-001);
}

.nav-link:hover {
    color: var(--clr-white);
}

.container-ld{
    width: 1320px;
}

.nav-link {
    position: relative;
    overflow: hidden;
    display: inline-block;
    text-decoration: none;
    color: #333;
    cursor: pointer;
}

.nav-link:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: var(--clr-verde-001);
    transition: left .8s;
}

.nav-link:hover:after {
    left: 0;
}


.wrapper{
    box-sizing: content-box; 
    background-color: transparent;
    height: 240px;
    padding: 50px 30px;
    display: flex;
    border-radius: 8px;
    box-shadow: 0 20px 25px rgba(0,0,0,0.2);
    margin-bottom: -60px;
}

.words{
    overflow: hidden;
}
span{
    display: block;
    height: 100%;
    padding-left: 10px;
    color: var(--clr-mostaza-001);
    animation: spin_words 10s infinite;
}

@keyframes spin_words{
    10%{
        transform: translateY(-112%);
    }
    25%{
        transform: translateY(-100%);
    }
    35%{
        transform: translateY(-212%);
    }
    50%{
        transform: translateY(-200%);
    }
    60%{
        transform: translateY(-312%);
    }
    75%{
        transform: translateY(-300%);
    }
    85%{
        transform: translateY(-412%);
    }
    100%{
        transform: translateY(-400%);
    }
}

.blink_me {
    display: inline-block;
    vertical-align: bottom;
    animation: blinker 1s linear infinite;
    animation-delay: -0.5s;
}

.blink_me span {
    float: left;
    overflow: hidden;
    animation: hideShow 6s  infinite;
}

.blink_me span:nth-child(1) {
    animation-delay: -0s;
}

.blink_me span:nth-child(2) {
    animation-delay: -1s;
}

.blink_me span:nth-child(3) {
    animation-delay: -2s;
}

.blink_me span:nth-child(4) {
    animation-delay: -3s;
}

.blink_me span:nth-child(5) {
    animation-delay: -4s;
}

.blink_me span:nth-child(6) {
    animation-delay: -5s;
}

.css-button-sliding-to-left--green {
    min-width: 142px;
    height: 46px;
    color: var(--clr-verde-001);
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    z-index: 0;
    background: var(--clr-verde-001);
    overflow: hidden;
    border-radius: 2rem;
    
    color: var(--clr-negro-001);
  }
  .css-button-sliding-to-left--green:hover {
    color: #fff;
  }
  .css-button-sliding-to-left--green:hover:after {
    width: 100%;
  }
  .css-button-sliding-to-left--green:after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 0.3s ease;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
   
    background: var(--clr-terracota-001);
  }


 



@keyframes blinker {
    50% {
        opacity: 0;
    }
}

@keyframes hideShow {

    0%,
    16.6%,
    33.33%,
    100% {
        width: 0;
    }

    16.66%,
    33.3% {
        width: auto;
    }
}





@keyframes rotation {


    0% {
        transform: rotate(-15deg);
    }

    50% {

        transform: rotate(0deg);

    }


    100% {
        transform: rotate(-15deg);
    }

}

@keyframes floating {
    0% {
        transform: translateY(opx);
    }

    50% {

        rotate: translateY(-20px);

    }

    100% {
        transform: translateY(0px);
    }
}


@keyframes bounceIn {
    0% {
        transform: scale(1);

    }

    60% {
        transform: scale(1.2);
        opacity: 1;
    }

    100% {
        transform: scale(1);
    }

}

@media  (min-width: 300px) and (max-width: 540px) {

    .wrapper{
        
        height: 160px;
       
    }


    .container-poster {
        zoom: .3;
        scale: .5;
    }
        
   
    

    .nav-ten {
        height: fit-content!important ;
        padding-top: 2rem;
    
    }

    .nav-ten2 {
        height: fit-content!important;
        display: flex;
        padding-top: 2rem;
    }

   

    .btn-green {
        font-size: 40px;
    }

    

    .btn-green-poster2 {
        margin: 10px 0 0 0!important;
    }

    .nav-poster {
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav-poster2 {

        width: 100vw;
        height: 135vh;
        
    }

    .container-poste2 {
        height: 100%;
    }

   
}

@media  (min-width: 541px) and (max-width: 800px) {

    .wrapper{
        
        height: 160px;
       
    }


    .container-poster {
        zoom: .3;
        scale: .5;
    }
        
   
    

    .nav-ten {
        height: fit-content!important ;
    
    }

    .nav-ten2 {
        height: fit-content!important;
        display: flex;
    }

   

    .btn-green {
        font-size: 40px;
    }

    

    .btn-green-poster2 {
        margin: 10px 0 0 0!important;
    }

    .nav-poster {
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav-poster2 {

        width: 100vw;
        height: 135vh;
        
        
    }

    .container-poste2 {
        height: 100%;
    }

   
}


@media  (min-width: 820px) and (max-width: 1200px) {

    .wrapper{
        
        height: 160px;
       
    }


    .container-poster {
        zoom: .3;
        scale: .5;
    }
        
   
   

    .nav-ten {
        height: fit-content!important ;
        margin: auto;
    
    }

    .nav-ten2 {
        height: fit-content !important;
        display: flex;
        margin: auto;
    }

   

    .btn-green {
        font-size: 40px;
    }

    

    .btn-green-poster2 {
        margin: 10px 0 0 0!important;
    }

    .nav-poster {
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav-poster2 {

        width: 100vw;
        height: 135vh;
        
        
    }

    .container-poste2 {
        height: 100%;
    }

   
}




