*{
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden!important;
    font-family: var(--ff-primary);
    background: var(--clr-negro-001);
    color: var(--clr-white);
}

.poster{
    width: 100%;
    height: 50rem;
    color: var(--clr-mostaza-001);
}
