.text-mostaza{ color: var(--clr-moztaza-001); }
.text-black { color: var(--clr-negro-001); }
.text-white { color: var(--clr-white); }


.forms-link {
    text-decoration: none;
    color: var(--clr-negro-001);
    font-size: var(--fs-sm3);
    font-weight: 400;
}

.forms-link-hl {
    color: var(--clr-verde-002);
}

.subtitle {
    font-size: 16px;
    line-height: 30px;
}

.title-sm2{
    font-size: var(--fs-rg2);
    font-weight: var(--fw-bold);
}

.title-sm3{
    font-size: var(--fs-rg1);
    font-weight: var(--fw-bold);
}
.title-md0{
    font-size: var(--fs-md1);
    font-weight: var(--fw-Semibold);
}

.title-md1{
    font-size: var(--fs-md1);
    font-weight: var(--fw-Semibold);
}

.title-md2{
    font-size: var(--fs-md2);
    font-weight: var(--fw-light);
}


.title-md3{
    font-size: var(--fs-md3);
    font-weight: var(--fw-med);
}

.title-mdxl1{
    font-size: var(--fs-lg1);
    font-weight: var(--fw-Semibold);
}

.title-mdxl2{
    font-size: var(--fs-lg1);
    font-weight: var(--fw-bold);
}

.title-mdxl3{
    font-size: var(--fs-lg1);
    font-weight: var(--fw-Extrabold);
}

.title-lg{
    font-size: var(--fs-lg2);
    font-weight: var(--fw-bold);
}

.title-xlg{
    font-size: var(--fs-xlg1);
    font-weight: var(--fw-Semibold);
}

.title-xlgsb{
    font-size: var(--fs-xlg2);
    font-weight: var(--fw-light);
}

.title-white {
    font-size: 50px;
    font-weight: 700;
    color: var(--clr-white);
    margin-left: 25px;
}

.mtl {
    margin-top: var(--mtl);
}

.mt-m {
    margin-top: var(--mt-m);
}

.title-options {
    font-size: 50px;
    font-weight: 700;
    color: var(--clr-negro-001);
    margin-left: 25px;
}

@media  (min-width: 300px) and (max-width: 540px) {
    .title-xlgsb{
        font-size: 3rem;
        font-weight: var(--fw-light);
    }

    .tittle-mdxl1{
        font-size: 1.2rem;
        font-weight: var(--fw-Semibold);
    }

    .title-options {
        margin: 0;
        padding: 0;
        font-size: 1.625rem;
    }

    .title-lg{
        font-size: 2.125rem;
        font-weight: var(--fw-bold);
    }



}

@media (min-width: 541px) and (max-width: 800px) {

    .title-md0{
        font-size: var(--fs-md2);
        font-weight: var(--fw-Semibold);
    }

    .title-xlgsb{
        font-size: 5.9rem;
        font-weight: var(--fw-light);
    }
    .tittle-mdxl1{
        font-size: 2.5rem;
        font-weight: var(--fw-Semibold);
    }
    .title-options {
        margin-top: 2rem;
    }

}

@media (min-width: 820px) and (max-width: 1200px) {

    .title-md0{
        font-size: 1.6rem;
        font-weight: var(--fw-Semibold);
    }

    .title-xlgsb{
        font-size: 5.9rem;
        font-weight: var(--fw-light);
    }
    .tittle-mdxl1{
        font-size: 2.5rem;
        font-weight: var(--fw-Semibold);
    }

    .title-options {
      margin-top: 2rem;
    }

}