/* BUTTONS */
.btn {
    display: inline-flex;
    border-radius: 1.25rem;
    padding: .1875rem 1.25rem;
    font-size: var(--fs-rg2);
    font-weight: var(--fw-Semibold);
}

.btn-green {
    color: var(--clr-negro-001);
    border-color: var(--clr-verde-001);
    background: var(--clr-verde-001);
}

.btn-green:hover {
    background: var(--clr-terracota-001);
    color: var(--clr-white);
    border-color: var(--clr-terracota-001);
    transition: all .2s ease;
    cursor: pointer;

}

.btn-green-poster2 {
    border-radius: 1.25rem;
    padding: .1875rem 1.25rem;
    font-size: var(--fs-md3);
    font-weight: var(--fw-Semibold);
    color: var(--clr-negro-001);
    border-color: var(--clr-verde-001);
    background: var(--clr-verde-001);

}

.btn-green-poster2:hover {
    background: var(--clr-terracota-001);
    color: var(--clr-white);
    border-color: var(--clr-terracota-001);
    transition: all .2s ease;
    cursor: pointer;

}




.btn-mostaza {
    color: var(--clr-white);
    border-color: var(--clr-mostaza-001);
    background: var(--clr-mostaza-001);
}

.ver-mas {
    color: var(--clr-mostaza-001);
    font-size: .9375rem;
    font-weight: 600;
    cursor: pointer;
    margin-right: 25px;
}

.ver-mas:hover {
    color: var(--clr-verde-002);
}

/* BUTTONS */

/* BADGE */
.badge {
    display: inline-flex;
    border-radius: 1.25rem;
    padding: 0.625rem 1.25rem;
    font-size: var(--fs-sm);
}

/* BADGE */

/* Line */
.border-line {
    border-top: .15rem solid var(--clr-negro-001);
}

.border-nav-line {
    border-top: .19rem solid var(--clr-verde-001);
    justify-content: end;

}

/* Line */

/* Forms */

.bg-base {
    background: url(../../imgs/bg-base.svg) no-repeat;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.bg-dark-base {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url(../../imgs/bg-base.svg) no-repeat;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.bg-light-base {
    width: 100vw;
    height: 67vh;
    background: #fff
   
}

.bg-index {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url(../../imgs/fondo.svg) no-repeat;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.container-base {
    width: 79vw;
    height: 100vh;
    margin: auto;
}

.container-recipe-poster {
    background: red;
    width: 100%;
    height: 50vh;
}



.container-card {

    width: 1320px;


    align-items: center;
    justify-content: center;


}

.text-input {
    box-sizing: border-box;
    width: 21.875rem;
    height: 2.5rem;
    padding: .625rem;
    border: 2px solid var(--clr-negro-001);
    border-radius: 20px;
}


/* Forms */

/* Profile */

.profile-image {
    width: 450px;
    border-radius: 230px;
    border: solid 5px var(--clr-mostaza-001);
}

/* Profile */

/* Poster */

.img-poster {
    width: 1320px;
    height: 64vh;
    display: flex;

}

.poster-data {
    bottom: 0px;
    width: 660px;
    height: 64vh;
    background: linear-gradient(rgba(252, 252, 252, 0.7), rgba(219, 217, 217, 0.8));

    align-items: center;
    justify-content: center;
    display: grid;

    position: absolute
}

.poster-bg {
    width: 1320px;
    height: 64vh;
    border-radius: 30px;
    position: relative;
    justify-content: center;
}


.poster-info {
    display: flex;
    width: 500px;

    height: 500px;
    padding: 0px 15px 0 15px;
    position: relative;

}

.poster-title {
    font-size: 34px;
    font-weight: 600;
    margin-bottom: 2px;
    color: rgb(0, 0, 0);

}

.poster-description {
    font-size: 24px;
    font-weight: 400;
    color: var(--clr-negro-001);
    margin-top: 5px;
}

.poster-text {

    height: 300px;
    margin-top: 5rem;

}


.poster-animation-bg {
    width: 1521px;
    height: 590px;
    z-index: 1;

}

.poster-labels {
    bottom: 0;
    padding: 0 0 10px 15px;
    z-index: 1;
    margin-top: 3rem;
    position: relative;
    scale: 2.5;
    justify-content: space-between !important;
}

.poster-time {

    color: var(--clr-negro-001);
    margin-top: 5rem;
    font-size: 24px;
    font-weight: 400;
    justify-content: start !important;

}

/* Poster */


/* Cards */

a {
    text-decoration: none;
}

.base {
    display: flex;
    justify-content: center;
    margin-top: 300px;
}

.card-bg {
    width: 220px;
    height: 210px;
    border-radius: 30px;
    background: black;
    position: relative;
}

.card-image {
    width: 220px;
    height: 150px;
    border-radius: 15px;
    object-fit: cover;
    position: absolute;
}

.card-data {
    bottom: 0px;
    width: 220px;
    height: 80px;
    border-radius: 15px;
    background: #231F20;
    position: absolute;
}

.card-10 {

    height: 22rem;
    width: 22rem;
    border-radius: 1.25rem;
    display: flex;
    background: var(--clr-verde-001);
}

.card-img {
    width: 267px;
    height: 254px;
    z-index: 1;

}


.recipe-upload-card {
    scale: 1.1;
    margin: 3.625rem 3.375rem 4.375rem 3.375rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .15s ease-in-out;
}




.card-data2 {
    bottom: 0px;
    width: 220px;
    height: 80px;
    border-radius: 15px;
    background: var(--clr-terracota-001);
    position: absolute;
}





.card-info {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px 15px 0 15px;
    position: absolute;
}

.card-title {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 2px;
    color: #fff;
}

.card-time {
    font-size: 12px;
    font-weight: 400;
    color: #fff;
}

.card-likes {
    text-align: center;
}

.hearth {
    color: #fff;
    font-size: 20px;
}

.hearth-xl {
    color: #fff;
    font-size: 30px;
}

.like-count {
    font-size: 13px;
    font-weight: 600;
    margin-top: 3px;
    text-align: center;
    color: #fff;
}

.like-count-xl {
    font-size: 20px;
    font-weight: 600;
    margin-top: 3px;
    text-align: center;
    color: #fff;
}

.revision-options {
    font-size: 2rem;
    width: 100%;
    position: absolute;
    top: 215px;
}

.accept {
    margin-right: 5px;
    color: var(--clr-verde-002);
    transition: 0.07s ease-in-out;
    cursor: pointer;
}

.accept:hover {
    zoom: 1.05;
}

.decline {
    margin-left: 5px;
    color: var(--clr-rojo-001);
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.decline:hover {
    zoom: 1.05;
}

.edit-recipe {
    color: #fff;
    font-size: 20px;
}

.card-labels {
    bottom: 0;
    padding: 0 0 10px 15px;
    position: absolute;
    display: flex;
    justify-content: space-between;
}

.lbl {
    font-size: 8px;
    font-weight: 500;
    color: #fff;
    padding: 2px 5px;
    border-radius: 7px;
    margin-right: 2px;
}

.lbl2 {
    font-size: 8px;
    font-weight: 500;
    color: #fff;
    padding: 2px 5px;
    border-radius: 7px;
    margin-right: 2px;
}

.breakfast {
    background: #C95630;
}

.lunch {
    background: #C95630;
}

.dinner {
    background: #C95630;
}

.breakfast1 {
    background: var(--clr-negro-001);
}

.lunch1 {
    background: var(--clr-negro-001);
}

.dinner1 {
    background: var(--clr-negro-001);
}

.easy {
    background: var(--clr-verde-002);
}

.intermediate {
    background: var(--clr-mostaza-001);
}

.advance {
    background: var(--clr-rojo-001)
}

.lbl:hover {
    color: #231F20;
}

.lbl2:hover {
    color: var(--clr-verde-001);
}

.recipe-card-1 {
    scale: 1;
    margin: 25px 0 25px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .1s ease-in;
}

.recipe-card-1:hover {
    scale: 1.1;
}

.recipe-card {
    scale: 1.4;
    margin: 80px 0 80px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .1s ease-in;
}

.recipe-card:hover {
    scale: 1.42;
}

.recipe-details-image {
    width: 450px;
    border-radius: 30px;
}

.details-card-bg {
    width: 560px;
    height: 375px;
    border-radius: 30px;
    position: relative;
}

.details-image {
    width: 560px;
    height: 375px;
    border-radius: 30px;
    object-fit: cover;
}

.details-data {
    width: 560px;
    height: 100px;
}

.details-info {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
}

.details-labels {
    display: flex;
    justify-content: space-between;
    position: absolute;
    z-index: 50;
    bottom: -50px;
    zoom: 2;
}

.details-card {
    height: 540px;
}

.details-text {
    margin-top: -41px;
}

/* Cards */

.space-line {
    color: var(--clr-negro-001);
    margin-bottom: 0;
    font-weight: 300;
    border-radius: 10px;
}

.w-space-line {
    color: var(--clr-white);
    font-weight: 100;
    border-radius: 10px;
}

.details-time {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}

/* Upload Input */

.file-upload {
    background-color: #fff;
    width: 420px;
    height: 80%;
}

.file-upload-btn {
    width: 100%;
    margin: 0;
    color: #fff;
    background: #1FB264;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #15824B;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}

.file-upload-btn:hover {
    background: #1AA059;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
}

.file-upload-btn:active {
    border: 0;
    transition: all .2s ease;
}

.file-upload-content {
    width: 420px;
    height: 420px;
    display: none;
    text-align: center;
    position: relative;
    z-index: 10;
}

.file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 420px;
    height: 420px;
    outline: none;
    opacity: 0;
    cursor: pointer;
}

.image-upload-wrap {
    width: 420px;
    height: 420px;
    border: 3px solid var(--clr-verde-002);
    border-radius: 30px;
}

.image-dropping,
.image-upload-wrap:hover {
    background: #1AA059;
    border-radius: 30px;
}

.drag-text {
    height: 100%;
    text-align: center;
}

.drag-text h3 {
    font-weight: 400;
    color: #000;
    padding: 60px 0;
}

.file-upload-image {
    height: 420px;
    width: 420px;
    object-fit: cover;
    border-radius: 30px;
}

.remove-image {
    font-size: 40px;
    color: var(--clr-white);
    transition: .3s;
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 50;
}

.remove-image:hover {
    color: red;
    cursor: pointer;
}

.remove-image:active {
    border: 0;
    transition: all .2s ease;
}

/* Upload Input */


/* Input Data Recipe */

.input-data-recipe {
    border: 3px solid var(--clr-verde-002);
    border-radius: 30px;
    text-align: center;
    margin: 15px 0 15px 0;
}

.input-s {
    width: 196px;
    height: 60px;
}

.input-m {
    width: 418px;
    height: 60px;
}

.input-l {
    width: 310px;
    height: 60px;
}

.input-xl {
    width: 418px;
    height: 150px;
}

.input-2xl {
    width: 650px;
    height: 150px;

}

/* Input Data Recipe */


@media (min-width: 300px) and (max-width: 540px) {

    .poster-bg {
        width: 100vw;
        height: 115vh;
        border-radius: 30px;
        position: relative;
        justify-content: center;
    }

    .img-poster {
        width: 100vw;
        height: 65vh;
        object-fit: contain;
        display: flex;
    }

    .poster-data {
        bottom: 0px;
        width: 100vw;
        height: 66vh;
        background: linear-gradient(rgba(252, 252, 252, 0.7), rgba(219, 217, 217, 0.8));
        align-items: center;
        justify-content: center;
        display: grid;
        position: absolute
    }

    .poster-text {
        scale: .7;
    }
}

@media  (min-width: 541px) and (max-width: 800px) {

    .recipe-card {
        scale: 1.2;
        
    }

    .img-poster {
        width: 140vw;
        height: 65vh;
        object-fit: contain;
        display: flex;
    }

    .poster-data {
        bottom: 0px;
        width: 100vw;
        height: 52vh;
        background: linear-gradient(rgba(252, 252, 252, 0.7), rgba(219, 217, 217, 0.8));
    
        align-items: center;
        justify-content: center;
        display: grid;
    
        position: absolute
    }


    .poster-bg {
        width: 100vw;
        height: 115vh;
        border-radius: 30px;
        position: relative;
        justify-content: center;
    }


}

@media  (min-width: 820px) and (max-width: 1200px) {

    .img-poster {
        width: 140vw;
        height: 65vh;
        object-fit: contain;
        display: flex;
    }

    .poster-data {
        bottom: 0px;
        width: 100vw;
        height: 50vh;
        background: linear-gradient(rgba(252, 252, 252, 0.7), rgba(219, 217, 217, 0.8));
    
        align-items: center;
        justify-content: center;
        display: grid;
    
        position: absolute
    }


    .poster-bg {
        width: 100vw;
        height: 115vh;
        border-radius: 30px;
        position: relative;
        justify-content: center;
    }
}