:root{
    /* custom properties - constants */
    --base-fs: 15px;

    /* font & weight */
    --ff-primary: 'Poppins';
    --fw-light: 300;
    --fw-reg: 400;
    --fw-med: 500;
    --fw-Semibold: 600;
    --fw-bold: 700;
    --fw-Extrabold: 800;

    /* 7 8 9 11 12 15 17 20 23 26 35 61 170*/
    /* font sizes */
    --fs-xsm1: 0.438rem;
    --fs-xsm2: 0.5rem;
    --fs-xsm3: 0.563rem;
    --fs-sm1: 0.688rem;
    --fs-sm2: 0.75rem;
    --fs-rg1: 0.938rem;
    --fs-rg2: 1.063rem;
    --fs-md1: 1.25rem;
    --fs-md2: 1.438rem;
    --fs-md3: 1.625rem;
    --fs-lg1: 2.188rem;
    --fs-lg2: 3.813rem;
    --fs-xlg1: 4.4375rem;

    /* colors */
    /*  h -> hue/color 0/360, s -> saturation 0/100, l -> lightness 0/100, a -> alpha 0/1 */
    --clr-white: hsl(0, 0%, 100%);

    
    --clr-mostaza-001: hsla(41, 100%, 43%);
    --clr-mostaza-002: hsla(48, 100%, 41%);
    --clr-verde-001: hsla(111, 67%, 60%);
    --clr-verde-002: hsla(126, 100%, 29%);
    --clr-terracota-001: hsla(15, 61%, 49%);
    --clr-naranja-001: hsla(0, 100%, 39%);
    --clr-rojo-001: hsl(0,100%,39%);
    --clr-negro-001: hsla(345, 6%, 13%);

    /* Margins & Paddings */

    --mtl: 4rem;
    --mt-m: 2.5rem;
}